body{
    background-image: url('../img/bg/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    color: $color-white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    font-family: $font-family-din;
    font-size: $font-primary;
    font-weight: normal;
    font-style: normal;
}

label {
    &.error {
        &::after {
            content: '';
            display: inline-block;
            margin-left: 10px;
            font-size: 12px;
            color: red;
        }
    }
}