@font-face {
    font-family: 'Web Pro';
    src: url('../fonts/DINWebPro/DINWebPro-Regular.eot');
    src: url('../fonts/DINWebPro/DINWebPro-Regular.eot#iefix'),
         url('../fonts/DINWebPro/DINWebPro-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
