#footer {
    padding-top: 110px;
    padding-bottom: 50px;
    background-image: url('../img/bg/bg-footer.png');
    background-repeat: no-repeat;

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 700px;
        max-width: 100%;

        .footer-copy,
        .footer-contacts {
            display: block;
            flex-basis: 100%;
            max-width: 100%;
        }

        .footer-copy {
            padding-bottom: 30px;
            border-bottom: 1px solid $color-white;
            font-size: 24px;
            font-weight: bold;
            color: $color-text-inverse;
            text-transform: uppercase;

            & span {
                letter-spacing: 2px;
            }

            @include breakpoint(medium) {
                flex-basis: 230px;
                max-width: 230px;
                padding: 0;
                padding-right: 65px;
                border: 0;
                border-right: 1px solid $color-white;
            }
        }

        .footer-contacts {
            padding-top: 30px;

            @include breakpoint(medium) {
                flex-basis: 0;
                flex-grow: 1;
                padding: 0;
                padding-left: 65px;
            }
        }
    }
}