form{
	margin: 35px 0 0 0;
    padding: 0;
}

.success-message {
    display: none;

    &.is-active {
        display: block;
        margin-bottom: 35px;
        padding: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        background: rgb(0, 100, 0);
    }
}

.error-message {
    display: none;

    &.is-active {
        display: block;
        margin-bottom: 35px;
        padding: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        background: rgb(255, 0, 0);
    }
}

.form-item{
    margin-bottom: 35px;
    
    label {
        display: block;
        padding: 5px 15px;
        background: rgba(255,255,255, 0.15);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

textarea,
select,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number']{
    display: inline-block;
	width: 100%;
	height: auto;
	padding: #{($input-height - $input-line-height) / 2 - $input-border-width} 15px; //(input height - input line-height) / 2 - input-border-width

	font-size: $input-font-size;
	line-height: $input-line-height;
    font-weight: normal;
    letter-spacing: 1px;
	color: $color-text;

	background: $color-white;
	border: $input-border-width solid transparent;
	outline: none;

	&.error{
        border: 3px solid red;
    }
    
    &::before {
        content: '';
        display: inline-block;
    }
}

input[type='submit'],
button {
    padding: #{($submit-height - $submit-line-height) / 2 - $submit-border-width} 25px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-text-inverse;
    background-color: $color-primary;
    border: $submit-border-width solid $color-white;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-light;
        transition: background-color 0.5s;
    }
}

::-webkit-input-placeholder {
    color: $color-text;
    opacity: 0.5;
}
:-moz-placeholder { // Firefox 18- /
    color: $color-text;
    opacity: 0.5;
}
::-moz-placeholder {  // Firefox 19+ /
    color: $color-text;
    opacity: 0.5;
}
:-ms-input-placeholder {  
    color: $color-text;
    opacity: 0.5;
}
::placeholder {
    color: $color-text;
    opacity: 0.5;
}