#header {
    .header-top,
    .header-middle {
        margin-bottom: 80px;
    }

    .header-social-nav {
        display: inline-block;
        width: 320px;
        height: 72px;        
        
        background-image: url('../img/bg/bg-top-bar.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        
        ul {
            display: block;
            padding: 0;
            margin: 15px 0 0;
            list-style: none;

            li {
                display: inline;
                padding: 0;
                margin: 0 12px;
                list-style: none;
                
                &:first-child {
                    margin-left: 0;
                }
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .header-logo {
        display: inline-block;
    }
    
    .header-nav {
        display: block;

        &.is-expanded {
            & .header-nav-toggle {
                background: url('../img/icons/nav-close.png');
            }

            & ul {
                display: block;
            }
        }

        .header-nav-toggle {
            display: inline-block;
            width: 50px;
            height: 35px;
            background: url('../img/icons/nav-hamburger.png');
            outline: none;
            cursor: pointer;
        }

        & ul {
            display: none;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: block;
                margin-top: 50px;
                padding: 0;
                list-style: none;

                a {
                    display: inline-block;
                    padding-bottom: 5px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color-white;
                    letter-spacing: 2px;
                    position: relative;

                    &::after {
                        display: block;
                        width: 50px;

                        content: '';

                        border-bottom: 5px solid white;
                        transform: translateX(-50%);
                        transition: width 0.5s;

                        position: absolute;
                        bottom: 0;
                        left: 50%;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}