#header {
    .header-top,
    .header-middle {
        margin-bottom: 80px;
    }

    .header-social-nav {
        display: inline-block;
        width: 320px;
        height: 72px;        
        
        background-image: url('../img/bg/bg-top-bar.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        
        ul {
            display: block;
            padding: 0;
            margin: 15px 0 0;
            list-style: none;

            li {
                display: inline;
                padding: 0;
                margin: 0 12px;
                list-style: none;
                
                &:first-child {
                    margin-left: 0;
                }
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .header-logo {
        display: inline-block;
    }
    
    .header-nav {
        display: block;
        position: relative;

        &.is-expanded {
            & .header-nav-toggle {
                background: none;
            }

            & ul {
                display: block;
            }
        }

        .header-nav-toggle {
            display: inline-block;
            width: 50px;
            height: 35px;
            outline: none;
            cursor: pointer;

            span,
            span:before,
            span:after {
                display: block;
                content: '';
                width: 50px;
                height: 5px;
                position: absolute;
                background-color: white;
                transition-property: transform, background-color;
                transition-duration: 0.5s, 1.5s;
                transform-origin: top left;
            }

            

            span {
                top: 15px;            

                &:before {
                    top: -15px;
                }

                &:after {
                    bottom: -15px;
                }
            }

            &.is-active {
                span {
                    background: transparent;
    
                    &:before {
                        transform: skewY(31deg);
                    }
    
                    &:after {
                        transform: skewY(-31deg);
                    }
                }
            }
        }

        & ul {
            display: none;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: block;
                margin-top: 50px;
                padding: 0;
                list-style: none;

                a {
                    display: inline-block;
                    padding-bottom: 5px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color-text-inverse;
                    letter-spacing: 2px;
                    position: relative;

                    &::after {
                        display: block;
                        width: 50px;

                        content: '';

                        border-bottom: 5px solid white;
                        transform: translateX(-50%);
                        transition: width 0.5s;

                        position: absolute;
                        bottom: 0;
                        left: 50%;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}