@import 'helpers/variables';


#header {
    .header-top,
    .header-middle {
        margin-bottom: 80px;
    }

    @include breakpoint(large){
        .large-text-right {
            text-align: right;
        }
    }

    .header-social-nav {
        display: inline-block;
        width: 320px;
        height: 72px;        
        
        background: {
            image: url('../img/top-bar-background.png');
            size: auto;
            repeat: no-repeat;
            position: center;
        }

        ul {
            padding: 0;
            margin: {
                left: auto;
                right: auto;
                top: 18px;
            }

            li {
                display: inline;
                margin-left: $margin-tb-li / 2;
                margin-right: $margin-tb-li / 2;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-nav-toggle {
        width: 50px;
        height: 35px;
        background: url('../img/nav-background-closed.png');

        &:focus { outline: none; }

        &:hover { cursor: pointer; }

        &.active { background: url('../img/nav-background-open.png'); }
    }

    & ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        &.active{ display: block; }

        li { 
            
            
            margin: {
                top: $margin-nav-items / 2;
                bottom: $margin-nav-items / 2;
            }
            
            &:first-child {
                margin-top: $margin-nav-items;
            }

            & a {
                font-size: 24px;
                text-transform: uppercase;
                color: $color-white;
                text-decoration: none;
                border-bottom: 5px solid white;
                padding-bottom: 5px;
            }
        }
    }
}
