$li-color: #fff;
$margin-nav-items: 58px;


#header {
    .header-top,
    .header-middle {
        margin-bottom: 80px;
    }

    .header-middle,
    .header-bottom {
        margin-top: 80px;
    }

    .header-middle {
        text-align: center;
    }
    
    .header-social-nav {
        display: flex;
        text-align: center;
        background: {
            image: url('../img/top-bar-background.png');
            size: contain;
            repeat: no-repeat;
            position: center;
        }

        ul {
            padding: 0;
            margin-left: auto;
            margin-right: auto;

            li {
                display: inline;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-nav-toggle {
        width: 50px;
        height: 35px;
        background: url('../img/nav-background-closed.png');

        &:focus { outline: none; }

        &:hover { cursor: pointer; }

        &.active { background: url('../img/nav-background-open.png'); }
    }

    & ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        &.active{ display: block; }

        li { 
            text-align: center; 
            
            margin: {
                top: $margin-nav-items / 2;
                bottom: $margin-nav-items / 2;
            }
            
            &:first-child {
                margin-top: $margin-nav-items;
            }

            & a {
                font-size: 24px;
                text-transform: uppercase;
                color: $li-color;
                text-decoration: none;
                border-bottom: 5px solid white;
                padding-bottom: 5px;
            }
        }
    }
}

// #header{
//     .header-top {            
//         .header-social-nav{
//             background: {
//                 image: url('../img/top-bar-background.png');
//                 size: contain;
//                 repeat: no-repeat;
//                 position: center;
//             }
//             flex-direction: row;
//             align-items: center;
//             margin: 0 auto;

//             ul{
//                 list-style: none;
//                 padding: 0;
//             }
//         }

//         & a {
//             margin: {
//                 top: -10px;
//                 left: $margin-tbi / 2;
//                 right: $margin-tbi / 2;
//             }
//         }
//     }

//     .header-middle {
//         margin: 0 auto;
//         margin-top: 82px;
//         text-align: center;
//     }
// }