<div id="contact" class="contact-form">
  <form id="test-form">
    <div>
      <label>Name</label>
      <input type="text" name="field_name" placeholder="Your name..."/>
    </div>

    <div>
      <label>Last name</label>
      <input type="text" name="field_last_name" placeholder="Your last name..."/>
    </div>

    <div>
      <label>Email</label>
      <input type="text" name="field_email" placeholder="Email..." required/>
    </div>

    <div>
      <label>Message</label>
      <input type="text" name="field_message" placeholder="Enter your message here..." required/>
    </div>

    <div>
      <button type="submit" id="submit-form">Submit</button>
    </div>
  </form>
</div>
      