<div class="header-bottom">
    <div class="row">
        <div class="column small-12">
            <nav id="header-nav" class="header-nav text-center">
                <a id="header-nav-toggle" class="header-nav-toggle"></a>
                <ul>
                    {{#each global.nav}}
                        <li>
                            <a href="{{link}}" id="{{id}}" class="fs-24">{{text}}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>