<div class="header-top">
  <div class="row full-width large-4">
    <div class="columns small-12">
      <nav class="header-social-nav">
        <ul>
          {{#each global.social-items}}
            <a href="https://{{link}}" target="_blank"><img src="{{img}}" alt="{{text}}"></a>
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="header-middle">
  <div class="row">
    <div class="columns small-12">
      <a href="#" class="header-logo"><img src="./assets/img/logo.png" alt="EVOCOMEDIA"></a>
    </div>
  </div>
</div>